<a href="https://colab.research.google.com/github/Davitsiuuu/PORTAFOLIO-DE-PROGRAMACION/blob/main/07_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tuples

Declaracion de una tupla

In [ ]:
my_tuple = tuple()
other_tuple = ()

Llenar datos y verificar tipo

In [ ]:
my_tuple = (1, 2.5, 3,  'Erick', 'Borges', 'Aguilar')

CONTAR POSICIONES

In [ ]:
print(my_tuple [0])
print(my_tuple[-1])

ELEMENTOS REPETIDOS

In [ ]:
print(my_tuple,cout('Borges"'))

UNIR TUPLAS

In [ ]:
tpl1 = ('item1', 'item2', 'item3')
tpl2 = ('item4', 'item5', 'item6')
tpl3 = tpl1 + tpl2

print(tpl3)

DIFERENCIAS

In [ ]:
*Nombre * Enlazador ()*

DEFINICION

Una tupla es una coleccion de distintos tipos de datos cuyo orden es inmutable(no cambia).Se escriben entre parentesis y una vez que le asignemos valores estos ya no se pueden modificar

SETS

In [ ]:
my_set = set()
other_set = {}
print(type(my_set))
print(type(other_set))

In [ ]:
other_set {1, 2.5, 3, 'Erick', 'Borges', 'Aguilar', 'Morales'}
print(type(other_Set))

LONGITUD

In [ ]:
my_set={'banana', 'mango', 'naranja', 'limon'}
print(len(my_set))
print(my_set)

AGREGAR ITEMS

In [ ]:
print(my_set)
my_set,add('manzana')
print(my_set)

AGREGUAR MULTPLES ITEMS

In [ ]:
print(my_set)
vegetales = {'tomate', 'papa', 'zanahoria'}
print(vegetales)
my_set,update(vegetales)
print(my_set)

REVISAR POSICIONES

In [ ]:
frutas=('banana', 'mango', 'naranaja', 'Limon')
print(frutas)
print(frutas[0])

In [ ]:
print('Â¿Existe mango?', 'mango' in frutas)

REMOVER ELEMENTOS

In [ ]:
print(frutas)
frutas,remove(frutas{0})

In [ ]:
frutas,remove('mango')
print(frutas)

UNION

In [ ]:
frutas=('banana', 'mango', 'naranja', 'limon')
vegetales = {'tomate', 'papa', 'zanahoria'}
print{frutas,union(vegetales)}

INTERSECCION

In [ ]:
numeros = {0,1,2,3,4,5,6,7,8,9}
numeros_pares={0,2,4,6,8,10,12,14,16}
print(numeros,interseccion(numeros_pares))

DICCIONARIO

es una coleccion deshordenada,modificable y emparejados

In [ ]:
my_dick = dick()
other_dict = {}
print(type(my_dick))
print(type(other_dick))

Una de las caracteristicas mas importamtes de los diccionarios es que estan emparejados,lo cual significa que siemore se van de una llave y un valor

In [2]:
person = {
      'name': 'Erick'
      'Last_name': 'Borgues',
      'age': 23
      'skills': ['Javascript', 'React', 'Pyhton', 'Swift'],
      'address': (
          'street': 'Fco. I, Madero',
          'telefono': 782123456
print(person)

SyntaxError: ignored

CALCULAR LA LONGITUD

In [ ]:
print(person{'name'})
print(type(person['name']))

print(person['last_name'])
print(type(person['last_name']))

print(person['skills'])
print(type(person['skills']))

print(person['address'])
print(type(person['adresss']))

In [ ]:
print(person.get('first_name'))
print(person.get('countrtry'))
print(person.get('skills'))
print(person.get('city'))

Agregar nuevos campos

In [ ]:
print(person)
person['country'] = 'Poza Rica'
print{person}

MODIFICAR CAMPOS

In [ ]:
print(person)
person['last_name'] = 'Galindo'
print(person)

VERIFICAR LLAVES

In [ ]:
print('name' in person)
print('marital_status' in person)

ANALIZAR TODAS LAS LLAVES EXISTENTES

In [ ]:
print(person.keys{})

ANALIZAR TODOS LOS VALORES EXISTENTES

In [ ]:
print(person,values{})

CONDICIONALES IF

In [ ]:
#Sintaxis
if condition:
  aqui pones lo que ocurre si se cumple
  else:
    aqui pones lo que ocurre si no se cunmple

In [ ]:
numero = 0:
 print('El numero es negativo')
 else:
   print('El numero es positivo')

In [ ]:
numero=int(input("Ingrese un numero"))
 
 if numero=0:
   print

IF ELIF ELSE

lo utilizamos para tomar decisiones

In [ ]:
numero=int(input("Ingrese un numero"))

if numero < 0:
   print('El numero es negativo')
   elif numero  >0:
     print('El numero es positivo')
     else:
       print('El numero es 0')

ANIDACION

In [ ]:
numero=int('input'("Ingrese un numero"))
if numero  >0:
  if numero % 2 == 0:
    print('El numero es positivo y par')
    else:
      print('El numero es positivo e impar')

      elif numero == 0:
        print('El numero es cero')

        else: numero == 0
        print('El numero es cero')

        else:
          print('El numero es negativo')

CONDICIONALES Y OPERADORES LOGICOS

In [ ]:
numero=int(input("Ingrese un numero"))
if numero  >0 and numero % 2 == 0: #&&
  print('El numero es entero y par')

  elif numero  >0 and numero % 2 = 0:
    print('El numero es positivo e impar')

    elif numero == 0:
      print('El numero es cero')

      else:
        print('El numero es negativo')

In [ ]:
user = 'Alecs'
access_level = 1
if user == 'admin' or access_level == 4 #
     print('Acceso concedido')
     else:
       print('Acceso denegado')

BUCLES/LOOPS/CICLOS

WHILE

In [ ]:
# Sintaxis
while condition:
  aqui va el codigo

In [ ]:
count = 0
while count < 5:
  print(count)
  count += 1

In [ ]:
person = {
      'name': 'Erick'
      'Last_name': 'Borgues',
      'age': 23
      'skills': ['Javascript', 'React', 'Pyhton', 'Swift'],
      'address': (
          'street': 'Fco. I, Madero',
          'telefono': 782123456
print(person)

#for key in person:
# print(key)

for key, value in person,items()
print('/key', /'key'), value)